$colorTitle             : #345;
$colorLv1          : rgb(0, 123, 255);
$colorLv1-hover    : rgb(0, 90, 180);
$colorLv1-01       : rgba(0, 123, 255, 0.1);
$colorLv1-02       : rgba(0, 123, 255, 0.2);
$colorLv1-03       : rgba(0, 123, 255, 0.3);
$colorLv1-04       : rgba(0, 123, 255, 0.4);
$colorLv1-05       : rgba(0, 123, 255, 0.5);
$colorLv1-06       : rgba(0, 123, 255, 0.6);
$colorLv1-07       : rgba(0, 123, 255, 0.7);
$colorLv1-08       : rgba(0, 123, 255, 0.8);
$colorLv1-09       : rgba(0, 123, 255, 0.9);
$colorLv1-light    : rgb(23, 115, 206);

$colorSLv1        : rgb(244, 208, 63);
$colorSLv1-01     : rgba(244, 208, 63, 0.1);
$colorSLv1-02     : rgba(244, 208, 63, 0.2);
$colorSLv1-03     : rgba(244, 208, 63, 0.3);
$colorSLv1-04     : rgba(244, 208, 63, 0.4);
$colorSLv1-05     : rgba(244, 208, 63, 0.5);
$colorSLv1-06     : rgba(244, 208, 63, 0.6);
$colorSLv1-07     : rgba(244, 208, 63, 0.7);
$colorSLv1-08     : rgba(244, 208, 63, 0.8);
$colorSLv1-09     : rgba(244, 208, 63, 0.9);
$colorSLv1-hover  : rgb(241, 196, 15);
$colorPrice: #fd5056;
$colorRed: #E74C3C;
$colorSuccess: rgb(38, 207, 142);

$bg-1: 			#212529;
$bg-09: 		#343a40;
$bg-08: 		#495057;
$bg-07: 		#6c757d;
$bg-06: 		#adb5bd;
$bg-05: 		#ced4da;
$bg-04: 		#dee2e6;
$bg-03: 		#e9ecef;
$bg-02: 		#EDF2F7;
$color-link: #3498DB;
$color-link-dark: #2E86C1;
$colorDesc : #678;
$colorText: #567;
$colorHighlight: #183153;

$fontTitle: "SVN-Gilroy Bold", serif;
$fontText: "SVN-Gilroy", sans-serif;

$backgroundImage: '/images/main/hitour-background.png';

// font Gilroy
$folderFont : '/fonts/';
// @font-face{
// 	font-family:'mt';
// 	font-style:normal;
// 	font-weight:400;
// 	src:url($folderFont+"mt-regular.otf")
// }

@font-face{
	font-family:'SVN-Gilroy Thin';
	font-style:normal;
	font-weight:400;
	src:url($folderFont+"svn-gilroy_regular.ttf")
}

@font-face{
	font-family:'SVN-Gilroy Light';
	font-style:normal;
	font-weight:400;
	src:url($folderFont+"svn-gilroy_regular.ttf")
}

@font-face{
	font-family:'SVN-Gilroy';
	font-style:normal;
	font-weight:500;
	src:url($folderFont+"svn-gilroy_medium.ttf")
}

@font-face{
	font-family:'SVN-Gilroy Med';
	font-style:normal;
	font-weight:700;
	src:url($folderFont+"svn-gilroy_med.ttf")
}

@font-face{
	font-family:'SVN-Gilroy Semi';
	font-style:normal;
	font-weight:700;
	src:url($folderFont+"svn-gilroy_semibold.ttf")
}

@font-face{
	font-family:'SVN-Gilroy Bold';
	font-style:normal;
	font-weight:700;
	src:url($folderFont+"svn-gilroy_semibold.ttf")
}

@mixin titleOfBox {
    font-family: $fontTitle;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

@mixin titleSection {
    font-size: 1.5rem !important;
    margin: 0 0 0.5rem 0 !important;
    color: $colorTitle;
    display: inline-block;
    @media (min-width: 768px) and (max-width: 1023px){
        font-size: 1.45rem !important;
    }
    @media (max-width: 767px){
        font-size: 1.4rem !important;
        margin: 0 0 0.25rem 0 !important;
    }
}

@mixin slickSliderMain {
    &:hover {
        .slick-prev, .slick-next {
            display: block;
        }
    }
    .slick-prev, .slick-next {
        display: none;
        background: #fff;
        position: absolute;
        padding: 0.5rem !important;
        top: 50% !important;
        bottom: unset !important;
        transform: translateY(-50%);
        border-radius: 0 !important;
        box-shadow: none !important;
        z-index: 100;
        font-size: 1.2rem;
        // @media (min-width: 768px) and (max-width: 1023px){
        //     padding: 13px !important;
        // }
        // @media (max-width: 767px){
        //     padding: 11px !important;
        // }
    }
    .slick-prev {
        left: 0 !important;
        right: unset !important;
    }
    .slick-next {
        left: unset !important;
        right: 0 !important;
    }
    .slick-dots {
        position: absolute;
        bottom: 0;
        right: 1.5rem;
        display: flex;
        li {
            list-style-type: none;
            cursor: pointer;
            button {
                padding: 0;
                height: 5px;
                width: 35px;
                background: $colorLv1-03;
                border: none !important;
                box-shadow: none !important;
                &::selection {
                    border: none !important;
                    outline: none !important;
                }
            }
            &:not(:first-child){
                margin-left: 0.5rem;
            }
        }
        .slick-active {
            button {
                background: $colorLv1;
            }
        }
        @media (max-width: 767px){
            bottom: 0.5rem !important;
            li {
                button {
                    height: 4px !important;
                }
            }
        }
        @media (max-width: 577px){
            right: 1rem;
            li {
                button {
                    width: 25px !important;
                }
            }
        }
    }
}
@mixin slickArrowCircle {
    position: absolute;
    transform: translateY(-50%);
    z-index: 99;
    border: none;
    border-radius: 50%;
    text-align: center;
    background: $colorSLv1-08;
    padding: 0.6rem 0.9rem;
    &:hover {
        background: $colorSLv1;
    }
    &.slick-prev {
        left: -0.5rem;
        top: 50%;
    }
    &.slick-next {
        right: -0.5rem;
        top: 50%;
    }
    i {
        margin: 0;
        vertical-align: middle;
    }
}

@mixin fontAwesome {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}