@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", "Verdana", "Tahoma", sans-serif;
}

.highLight_700 {
  font-weight: 700;
  color: #00aaf0;
}

.highLight_500 {
  font-weight: 500;
  color: #00aaf0;
}

table tr {
  vertical-align: top;
}

table tr td, table tr th {
  padding: 0.7rem !important;
}

table tr td img, table tr th img {
  width: inherit;
  border-radius: 5px;
}

table tr td .tableHighLight, table tr th .tableHighLight {
  font-weight: 700;
}

table tr td div.oneLine:not(:first-child), table tr th div.oneLine:not(:first-child) {
  margin-top: 0.5rem;
}

table tr td div.oneLine .badge, table tr th div.oneLine .badge {
  margin-top: 0.3rem;
}

table tr td .iconAction, table tr th .iconAction {
  width: 40px;
  text-align: center;
}

table tr td .iconAction a, table tr th .iconAction a {
  color: #00aaf0;
}

table tr td .iconAction a:hover, table tr th .iconAction a:hover {
  color: #0096dc;
}

.formBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.formBox_column2 {
  width: calc(50% - 1rem);
}

.formBox_column2:not(:first-child) {
  margin-left: 2rem;
}

.formBox_column2_item_row:not(:first-child) {
  margin-top: 1.2rem;
}

.formBox_full {
  width: 100%;
}

.inputWithNumberChacractor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inputWithNumberChacractor_count {
  font-weight: bold;
  font-size: 1.1rem;
  background: rgba(0, 170, 240, 0.1);
  padding: 2px 5px;
  width: 60px;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

.imageUpload {
  margin-top: 1.5rem;
  border-radius: 5px;
}

.imageUpload img {
  width: 100%;
  max-width: 320px;
  max-height: 196px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 3px #adb5bd;
          box-shadow: 0 0 3px #adb5bd;
  border-radius: inherit;
}

.inputRequired:after {
  margin-left: 0.5rem;
  content: '*';
  color: #ff5a32;
  font-weight: bold;
}

.explainInput {
  margin-right: 0.5rem;
  width: 18px;
  height: 18px;
  vertical-align: top;
}

.tooltip {
  text-align: left !important;
}

/* ===== Viết đè CSS Theme ===== */
.navigation {
  font-family: "Open Sans", "Verdana", "Tahoma", sans-serif !important;
}

.main-menu.menu-light .navigation > li > a i, .main-menu.menu-light .navigation > li > a svg {
  top: 0 !important;
}

.navigation {
  font-size: 1.15rem !important;
}

.navigation > li {
  font-weight: 700;
  margin-top: 0.75rem !important;
}

.navigation > li > a {
  padding: 7px 12px !important;
}

.navigation > li > a > i, .navigation > li > a > svg {
  height: 20px !important;
  width: 20px !important;
  font-size: 20px !important;
}

.navigation > li ul {
  font-weight: normal;
  margin-left: 1.2rem !important;
}

html .content.app-content {
  padding: 2rem 2rem 0 !important;
}

.col-form-label,
.col-form-label-lg,
.col-form-label-sm {
  font-size: 1rem !important;
}

.form-label {
  font-size: 1rem !important;
  cursor: pointer;
}

.card .card-header .card-title {
  font-weight: 700;
}

.card-footer > button:not(:first-child) {
  margin-left: 1rem;
}

.select2-container .select2-selection--single {
  height: unset !important;
}

.invalid-feedback, .valid-feedback {
  font-size: 1rem !important;
}

label.error {
  display: none !important;
}
/*# sourceMappingURL=style.css.map */